.square {
        background-color: lightgrey;
        border: 1px black solid;
}

.square:hover {
        background-color: blueviolet;
}

.clicked {
        background-color: black;
}

#grid {
        width: 800px;
        height: 800px;
        border: red 1px solid;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

}